<div class="ebForm eaDashboard-wAddWidget">
    <div class="ebForm-block eb_wMargin">
        <div class="ebLabel">
            <span class="ebLabel-text">{{i18n.select}}</span>
            <span class="ebLabel-field eaDashboard-wAddWidget-widgetSelect"></span>
        </div>
    </div>
    <div class="ebForm-block eb_wMargin">
        <div class="ebLabel">
            <span class="ebLabel-text">{{i18n.add}}</span>
            <span class="ebLabel-field eaDashboard-wAddWidget-columnSelect"></span>
        </div>
    </div>

    <div class="eaDashboard-wAddWidget-buttons">
        <button class="eaDashboard-wAddWidget-apply ebBtn ebBtn_color_darkBlue">{{i18n.apply}}</button>
        <button class="eaDashboard-wAddWidget-cancel ebBtn">{{i18n.cancel}}</button>
    </div>
</div>